@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(/assets/fonts/BarlowSemiCondensed-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(/assets/fonts/BarlowSemiCondensed-Bold.ttf);
  font-weight: 700;
}

@layer base {
  html {
    @apply font-barlow font-semibold text-white select-none text-[16px] overflow-hidden;
  }

  h1 {
    @apply font-bold text-6xl leading-[1];
  }

  h3 {
    @apply font-bold text-3xl leading-[0.75];
  }
}